
<div class="register-photo">
    <div class="form-container login-dark">
        <div class="image-holder"></div>
        <form method="post" id="form">

            <div class="illustration"><i class="fa fa-user-lock"></i></div>    
            <div class="form-group input-group mb-3">
              <select class="custom-select form-control" id="inputGroupSelect01">
                <option selected>Select Role</option>
                <option value="1">Customer</option>
                <option value="2">Seller</option>
              </select>
            </div>        
            <div class="form-group"><input type="email" name="email" placeholder="Email" class="form-control" /></div>
            <div class="form-group"><input type="password" name="password" placeholder="Password" class="form-control" /></div>
                        <div class="form-group">
                <div class="form-check"><label class="form-check-label"><input type="checkbox" class="form-check-input" />Keep Logged In</label></div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Log In</button>
            </div>
            <a href="#" class="already">Don't have an account? Create here.</a>
        </form>
    </div>
</div>

