<div class="register-photo">
    <div class="form-container">
            <form method="post">
            <h2 class="text-center"><strong>Prize Of</strong> Contest</h2>

            <fieldset class="scheduler-border">
                <legend class="scheduler-border"> 1st Prize Details:</legend>
                     <div class="form-group"><input type="text" name="Prize" placeholder="Prize Title" class="form-control" /></div>

                <div class="form-group"><input type="text" name="Prize Description" placeholder="Description" class="form-control" /></div> 
            
                <div class="form-group"><label class="form-control"> Image: <input type="file" name="Start" accept="image/*" /></label></div>
            </fieldset>

            <fieldset class="scheduler-border">
                <legend class="scheduler-border"> 2nd Prize Details:</legend>
                     <div class="form-group"><input type="text" name="Prize" placeholder="Prize Title" class="form-control" /></div>

                <div class="form-group"><input type="text" name="Prize Description" placeholder="Description" class="form-control" /></div> 
            
                <div class="form-group"><label class="form-control"> Image: <input type="file" name="Start" accept="image/*" /></label></div>
            </fieldset>

            <fieldset class="scheduler-border">
                <legend class="scheduler-border"> 3rd Prize Details:</legend>
                     <div class="form-group"><input type="text" name="Prize" placeholder="Prize Title" class="form-control" /></div>

                <div class="form-group"><input type="text" name="Prize Description" placeholder="Description" class="form-control" /></div> 
            
                <div class="form-group"><label class="form-control"> Image: <input type="file" name="Start" accept="image/*" /></label></div>
            </fieldset>

            <fieldset class="scheduler-border" id=" add-prize">
                <legend class="scheduler-border"> Other Prize Details:</legend>
                     <div class="form-group"><input type="text" name="Prize" placeholder="Prize Title" class="form-control" /></div>

                <div class="form-group"><input type="text" name="Prize Description" placeholder="Description" class="form-control" /></div> 
            
                <div class="form-group"><label class="form-control"> Image: <input type="file" name="Start" accept="image/*" /></label></div>
            </fieldset>

            <div class="row">
                <div class="col-md-6 form-group" id="prize">
                    <button class="btn btn-primary btn-block" type="submit">Add More Prize</button>
                </div>

                <div class="col-md-6 form-group">
                    <button class="btn btn-primary btn-block" type="submit">Create Contest</button>
                </div>
            </div>

        </form>
    </div>        
</div>